<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <% url = list_event_url(@health.event_id) %>
    <p>
      <%= @message %><br/>
    </p>
    <p>
      To view the last event for this branch <%= @health.branch %>, just follow this link: <%= url %>.
    </p>
  </body>
</html>
