<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <% url = healthcheck_index_url %>
    <p>
      <%= @message %><br/>
    </p>
    <p>
      To go to the Health Monitor page, 
      just follow this link: <%= url %>.
    </p>
  </body>
</html>
