<div id="introduction" class="square"><span>Intro</span></div>
<div id="question" class="square"><span><%= @question %></span></div>
<div id="listen" class="square"><span><%= @listen %></span></div>
<div style="width:200px;height:10px;border-top: 1px solid #CCC;"></div>
<!--
<div id="moderate" class="square"><span>Moderate</span></div>
<div id="record_bulletin_board" class="square"><%= @record_bulletin %></div>
-->