<div id="bulletin_question" class="square"><%= @question %></div>
<!--
<div id="listen_bulletin_board" class="square"><%= @listen_bulletin %></div>
<div id="record_bulletin_board" class="square"><%= @record_bulletin %></div>

-->