<div id="introduction" class="square"><span>Intro</span></div>
<div id="headline" class="square"><span><%= @headline %></span></div>
<div id="goodbye" class="square"><span><%= @goodbye %></span></div>
