<% if template.kind_of?(Bulletin)
     str = "Bulletin Board"
   elsif template.kind_of?(Vote)
     str = "Vote/Poll"
   elsif template.kind_of?(Report)
     str = "Report"
   end %>
<div class="title">Enter/Select title for this <%= str %></div>		
<% options = VotingSession.where(:branch_id=>template.branch_id).map{|b| [b.name, b.id]}
   options.unshift ["None","None"]
   id = template.identifier||template.branch.identifier
%>
<%= select_tag "#{template.class.name.downcase}[identifier]", options_for_select(options, id), :style=>'' %>
<% if template.name =~ /_result/  %>
  <%= render :partial=>'vote_stats', :locals=>{:branch=>@template.branch} %>
<% end %>	