<% 
   voting_session_id = branch.current_forum_session.id
   stat = branch.vote_results.stats(voting_session_id) 
%>
<br /><br />
<table border=1>
  <thead>
    <tr>
      <th>Total</th>
      <th>Yes % </th>
      <th>No %</th>
      <th>Undecided % </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= stat[:total] %></td>
      <td><%= stat[:yes_per] %></td>
      <td><%= stat[:no_per] %></td>
      <td><%= stat[:none_per] %></td>
    </tr>
  </tbody>
</table>