<div id="forum-template" class="float-left">
  <h2><%= @branch.forum_type.titleize %></h2>
  <input type="hidden" name="branch" id="branch-name" value="<%=@branch_name%>" />
  <!-- <div id="introduction" class="square">Intro</div> -->
  <%= render :partial => @temp_partial %>

</div>
<div id="forum-upload" class="float-left">
  
</div>
<script>
  jQuery(document).ready(function () { 
    reportUpload.init("<%= @branch.forum_type %>");
  });
</script>