<style></style>
<div style="width: 200px;">
<div class="notice"></div>
<div class="title">Select Forum</div>		
<% options = @branch.voting_sessions.map{|b| [b.name, b.id]}
   options.unshift ["--Select--","0"]
   id = 0
%>
<%= select_tag "activate[identifier]", options_for_select(options, id), :style=>'' %>
<span><%= submit_tag 'Save', :id=>"save", :class=>"btnAction" %></span>
<span><%= submit_tag 'Cancel', :id=>"cancel", :class=>"btnAction" %></span>
</div>
