<ul>
<li><a href="index.html" class="logo"></a></li>
<li><a href="#" class="login">Log in or Sign up</a></li>
<li class="left-nav-bar" data-url="/moderation"><a class="moderation">Moderation</a></li>
<li class="left-nav-bar" data-url="/branch"><a class="branch-configuration">Branch Configuration</a></li>
<li class="left-nav-bar" data-url="/analytics"><a class="analytics">Analytics</a></li>
<li class="left-nav-bar" data-url="/healthcheck"><a class="health-check">Health Check</a></li>
</ul>

