<tr>
        <td>
          <a href="#" class="play"><img src="assets/images/icon-blank.png" alt="Play"></a>
        </td>
        <td>
          VOA Africa
        </td>
        <td>
          Zimbabwe
        </td>
        <td>
          John Smith 202-455-8989
        </td>
      </tr>