<div id="modal-window" class="helpPopUp"></div>
<div class="branch-configuration-body">
  <h2>Moderation</h2>
  <h3>Moderate Messages</h3>
  <!-- Start Search results box. -->
  <!-- This box can be modified and used in other sections of the site. A form is used so that the radio buttons and search feature can work, but the functionality of the search feature is left up to Liwen to accomplish. -->
  <%= render :partial=>'search' %>
  <!-- End Moderation search results box -->
</div>

