<section id="home">
  <div class="equal">
    <a href="/events"><img src="assets/home-analytics.png" /></a>
  </div>
  <div class="equal">
    <a href="/entries"><img src="assets/home-moderation.png" /></a>
  </div>
  <div class="equal">
    <a href="/configure"><img src="assets/home-config.png" /></a>
  </div>
  <div class="equal">
    <a href="/events"><img src="assets/home-health.png" /></a>
  </div>
</section>
