<!--Remote Desktop area-->
<div class="remote-desktop">
  <h4>Remote Desktop</h4>
  <form action="" method="get">
    <label>
      <input name="remote-desktop" type="radio" id="remote-desktop_0" value="yes" checked> Yes
    </label>
    <br>
    <label>
      <input type="radio" name="remote-desktop" value="no" id="remote-desktop_1">No
    </label>
  </form>
</div><!--End Remote Desktop Area-->
