<!--Analytics and health care search results box-->
<div class="search-results">
  <h3>Find Branch</h3>
  <form action="">
    <!--
    <input name="branch[search]" type="radio" value="country" checked>
    <label>
      Country
    </label>
    -->
    <input name="branch[search]" type="radio" value="name">
    <label>
      Branch Name
    </label>
    <!--
    <input name="branch[search]" type="radio" value="status">
    <label>
      Status
    </label>
    -->
    <input name="term" type="text" placeholder="Search Term">
				<input name="search" type="button" value="Search">
  </form>
  <table id="search-results-id">
    <thead>
      <tr>
        <th>
          Branch Name
        </th>
        <th>
          Status
        </th>
        <th>
          Alarm
        </th>
        <th>
          Country/Location
        </th>
        <th>
          Contact
        </th>
      </tr>
    </thead>
    <tbody>
    	<%= render :partial=>'search_results' %>
    </tbody>
  </table>
 </div><!-- End Analytics and health care search results box --> 
	