<% content_for :footer do %>
  <div id="modal-window" class="helpPopUp"></div>
<% end %>
<div class="branch-configuration-body">
<h2>Health Check</h2>
<%#= render :partial => 'shared/google_map' %>
<div id="search">
<%= render :partial => 'search' %>
</div>
</div>
<script>
	 jQuery(document).ready(function(){
     search.init();
	  editHealth.init();
  });
</script>
	