<div class="left-nav" id="entries" >
	  Moderation
</div>
<div class="left-nav" id="configure">
	  Configure
</div>
<div class="left-nav" id="health">
	  Health
</div>
<div class="left-nav" id="events">
	  Analytics
</div>
